html, body {
  width: 99.5%;
  background-color: black;
  font-family: 'Open sans', sans-serif; 
  
}

.paragraph { 
  font-family: 'Open sans', sans-serif; 
  color: #777777; 
  font-size: 200px; 
  color: white;
  padding: 5px;
  text-align: center;
  
  }
}

.style {
	border: 1px solid black;
	
}

.style td, th {
    padding: 8px;
	text-align: left;
	  height: 60px;

   border-bottom: 0px solid #ddd;


}

.style {
  border-collapse: collapse;
}

.style tr {
    background-color: black;
    color: white;

}

.style tr:hover {
    background: grey;
    cursor: pointer;
}
