html, body {
  background-color: black;
  font-family: 'Open sans', sans-serif; 

}

.p { 
  font-family: 'Open sans', sans-serif; 
  font-size: 200px; 
  color: white;
  padding: 5px;
  text-align: center;
  
  }
}

.style {
	border: 1px solid black;

}


.style td, th {
    padding: 8px;
	text-align: left;
	  height: 60px;
   border-bottom: 0px solid #ddd;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.style {
  border-collapse: collapse;
  width: 100%;

}

.style tr {
	
    background-color: black;
    color: white;
	

}

.style tr:hover {
    background: grey;
    cursor: pointer;
}
